<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>党史</title>
</head>
<body>
<form id="search-form" action="/record/search">
  日期:<input type="date" name="date"/>&nbsp&nbsp
  描述:<input type="text" name="describe"/>&nbsp&nbsp
  人物:<input type="text" name="person"/>&nbsp&nbsp
  <button>搜索</button>
</form>
<table border="1">
  <tr>
    <td>日期</td>
    <td>描述</td>
    <td>相关人物</td>

    <td>创建者</td>

    <td>删除</td>
    <td>编辑</td>
  </tr>

  <tr th:each="e : ${events}">
    <td th:text="${e.getFormationDate()}"></td>
    <td th:text="${e.getDescribe()}"></td>
    <td th:text="${e.getPerson()}"></td>

    <td th:text="${e.getCreator()}"></td>
    <!--<td th:text="${e.getEditor()}"></td>-->

    <td><a th:href="'/history/delete?index='+${e.getIndex()}" onclick="return doDelete()">删除</a></td>
    <td><a th:href="'/history/edit?index='+${e.getIndex()}" >编辑</a></td>
  </tr>
</table>
<script>
  function doDelete(a) {
    return confirm("确认删除？")
  }
</script>
<a href="/record/newEvent">新建</a>
</body>
</html>